<%@ Master Language="VB" CodeFile="clients.master.vb" Inherits="research_reports_clients_clients" MasterPageFile="~/research/reports/reports.master"%>
<asp:Content runat="server" ContentPlaceHolderID="cphBody" ID="cntBody">
    <asp:ContentPlaceHolder ID="cphBody" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
