<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ftpServer" value="74.212.234.23" />
    <add key="ftpFolder" value="" />
    <add key="ftpUserName" value="colprocess" />
    <add key="ftpPassword" value="colproc91730" />
    <add key="fileLocation" value="" />
    <add key="connectionString" value="server=sql2;database=dms_dev;integrated security=true;" />
    <add key="dataprovider" value="sqlserver" />
    <add key="logEmailTo" value="ITGroup@dmsi.local" />
    <add key="smtpServer" value="DC02" />
    <add key="importLogPath" value="Import.txt" />
  </appSettings>
</configuration>