html{
    width: 100%;
	height:100%;
	margin:0;
    /*overflow: hidden;*/
}

body{
    width: 100%;
	height:100%;
	margin:0;
    overflow: visible;
}

.callbar
{
    width: 100%; 
    position: fixed;
    top: 0; 
    overflow: visible;  
    font-family: Tahoma;
    font-size: 10px;
    border-bottom-style: inset;
    border-bottom-color: #CCCCCC;
    background-color: #CCCCCC;
}
.callbar div div table th{background-color: #c6def2;}
.entry2 {font-family:tahoma;font-size:11px;}
