<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <!--<add key="connectionstring" value="server=LAURIE\SQL2000;uid=sa;pwd=new0rld;database=slf_dms"/>-->
	  <add key="connectionstring" value="server=(local);uid=sa;pwd=new0rld;database=slf_dms"/>
	  <add key="dataprovider" value="sqlserver"/>
  </appSettings>
</configuration>