<application name="donor">
	<page name="admin_settings_properties_property">
		<querystringrules invalidPage="error.aspx">
			<mustexistrule name="id" defaultValue="" />
		</querystringrules>
	</page>
	<page name="search.aspx">
		<querystringrules invalidPage="error.aspx">
			<mustexistrule name="m" defaultValue="" />
			<mustexistrule name="q" defaultValue="" />
		</querystringrules>
	</page>
	<page name="idonly">
		<querystringrules invalidPage="error.aspx">
			<mustexistrule name="id" defaultValue="" />
		</querystringrules>
	</page>
	<page name="admin_users_default">
		<querystringrules invalidPage="error.aspx">
			<mustexistrule name="up" defaultValue="" />
			<mustexistrule name="gp" defaultValue="" />
		</querystringrules>
	</page>
	<page name="clients_client_applicants_applicant_default">
		<querystringrules invalidPage="error.aspx">
			<mustexistrule name="id" defaultValue="" />
			<mustexistrule name="pid" defaultValue="" />
			<mustexistrule name="a" defaultValue="e" />
		</querystringrules>
	</page>
	<page name="clients_client_docs_data">
		<querystringrules invalidPage="error.aspx">
			<mustexistrule name="id" defaultValue="" />
			<mustexistrule name="deid" defaultValue="" />
			<mustexistrule name="detid" defaultValue="" />
			<mustexistrule name="a" defaultValue="e" />
		</querystringrules>
	</page>
	<page name="report">
		<querystringrules invalidPage="error.aspx">
			<mustexistrule name="rpt" defaultValue="" />
			<mustexistrule name="f" defaultValue="" />
			<mustexistrule name="d" defaultValue="false" />
		</querystringrules>
	</page>
</application>