<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="ActiveReports13" type="GrapeCity.ActiveReports.Web.ActiveReportsSettingsSection"/>
  </configSections>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <endpointBehaviors/>
      <serviceBehaviors>
        <behavior name="DocumentTRAKBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DocumentTRAKBehavior" name="DocumentTRAK">
        <endpoint address="" binding="basicHttpBinding" contract="IDocumentTRAK"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdmin" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IQuery" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="5000000" maxReceivedMessageSize="5000000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1638400" maxBytesPerRead="4096" maxNameTableCharCount="1638400"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="ThreePVWebServicesSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISubmitService1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.lexcsi.com/Admin.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdmin" contract="IAdmin" name="BasicHttpBinding_IAdmin"/>
      <endpoint address="https://www.lexcsi.com/Query.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuery" contract="IQuery" name="BasicHttpBinding_IQuery"/>
      <endpoint address="https://www.3pv.net/3PVWebServices/3PVWebServices.asmx" binding="basicHttpBinding" bindingConfiguration="ThreePVWebServicesSoap" contract="ThreePVWebServicesSoap" name="ThreePVWebServicesSoap"/>
      <endpoint address="https://www.assuresign.net/DOCUMENTS/services/documentnow/documentnow.svc/Submit/text" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubmitService1" contract="ISubmitService" name="BasicHttpBinding_ISubmitService1"/>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <clear/>
    <!--<add name="LocalSQLServer" connectionString="Data Source=sql2;Initial Catalog=DMS_VICI;User Id=dms_sql2;Password=sql1login;"/>-->
    <add name="DMS_RESTOREDConnectionString" connectionString="Data Source=LEXSRVSQLPROD1\LEXSRVSQLPROD;Initial Catalog=DMS;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="CMSConnStr" connectionString="server=SQL2;uid=lexxcmssa;pwd=l3xxcms;database=LexxCMS"/>
    <!--<add name="MySqlDB" connectionString="Server=172.30.30.20;Database=asterisk;Uid=cron;Pwd=1234" providerName=""/>-->
    <!--<add name="AsteriskConnString" connectionString="Data Source=DMF-SQL-0005;Initial Catalog=Asterisk;uid=identsa;pwd=identifyl3;connect timeout=60;max pool size=150" providerName="System.Data.SqlClient"/>-->
    <add name="DMSConnectionString" connectionString="Data Source=LEXSRVSQLPROD1\LEXSRVSQLPROD;Initial Catalog=DMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="connectAsterisk" value="XixeNZ9DGWUYDOwEkc2E17figazSeHeYp/0X1XPFnxU7SNWg8Q7mu/Rq82KOcDbSsEBwBqWGLrU5Lx7hLrF8efCbTt5w1RVM0mbsntrU1GBRX8qlDKvsdCzYsqEBexkxv7CwHJuHp0fAcArQKTGv0Q=="/>-->
    <!--<add key="connectAsteriskE" value="7qQsQu+cgpZ9LM19zYTKLG3SZsNp4pP0mihdpnj+Pen7hDjjB/eRUdwddwK8vpn9tMeZaEfxe45znUw3wRhhhoCYOHVEuimTz2KF+TPGxy8243USEkmArm7V2e/u7Uu42K7avRE0xodJbvy90PCsjoua1jkAT3J2"/>-->
    <add key="EmailSMTP" value="DC02"/>
    <add key="EmailTimeOut" value="5000000"/>
    <add key="gmailMailServer" value="smtp.gmail.com"/> <!--CHolt 2/13/2020-->
    <add key="gmailPassword" value="G>rU8LMn"/>         <!--CHolt 2/13/2020-->
    <!--<add key="connectionstring" value="Data Source=LEXSRVSQLPROD1\LEXSRVSQLPROD;Initial Catalog=DMS;Integrated Security=True;"/>-->
    <add key="connectionstring" value="server=lexxware.westus2.cloudapp.azure.com;uid=401Hr3m487%;pwd=&amp;Dogv@S3lfish$;Initial Catalog=DMS;connect timeout=180"/>
    <add key="CMSConnStr" value="server= lexxware.westus2.cloudapp.azure.com,1433;uid=401Hr3m487%;pwd=&amp;Dogv@S3lfish$;Database=LexxCMS;connect timeout=180" />
    <add key="vmfilestorage" value="server=lexxware.westus2.cloudapp.azure.com;uid=lexxware;pwd=7945L3xxw@r391730;"/>
    <add key="StorageConnectionString" value="AccountName=lexxwarestore1;AccountKey=EKriz+KiVaCGaOn1zfadO2+4IiWO7Yc4ZU5IxN79lAwJU0p0dhniU4IDO0ls9/rUjP70CigK1zaaM/Evsq9ewA=="/>
    <add key="testleadtempdir" value="AccountName=lexxwarestore1;AccountKey=QugO6E88Uah5pWmCtVtTwr7Qg9JrY+EGjPS5L8RNomXBaAU97reBvwKshJT1G6C4APTqHnLm1Uz/CGEogbVgfw=="/>
    <!--<add key="connectionstring" value="Data Source=LEXSRVSQLPROD1\LEXSRVSQLPROD;Initial Catalog=DMS_AUDIT3;Integrated Security=True;"/>-->
    <!--<add key="connectionstring" value="Data Source=LEXSRVSQLPROD1\LEXSRVSQLPROD;Initial Catalog=DMS;User Id=dms_sql2;Password=j@ckp0t!;"/>-->
    <!--<add key="ReportConnString" value="Data Source=sql2;Initial Catalog=DMS_VICI;User Id=dms_sql2;Password=sql1login;"/>-->
    <!--<add key="ReportConnString" value="Data Source=LEXSRVSQLPROD1\LEXSRVSQLPROD;Initial Catalog=DMS;Integrated Security=True" />-->
    <add key="ReportConnString" value="server=lexxware.westus2.cloudapp.azure.com;uid=401Hr3m487%;pwd=&amp;Dogv@S3lfish$;Initial Catalog=DMS;connect timeout=180"/>
    <add key="AgentConnString" value="server=sql2;uid=sa;pwd=sql1login;database=msdb;connect timeout=60"/>
    <add key="connectionstringimport" value="Data Source=sql2;Initial Catalog=DMSIMPORT;connect timeout=480;Integrated Security=True"/>
    <add key="connectionstringexternal" value="server=tcp:10.1.1.50;uid=sql2;pwd=link2access;database=EXT_DB;"/>
    <add key="connectionstringtimematters" value="server=litsvr1\tmsql;database=TimeMatters;User ID=dms_sql;Password=dms_sql"/>
    <add key="connectionstringtouchpoint" value="server=sql2;uid=dms_sql;pwd=sql1login;database=dms_harassment;connect timeout=60"/>
    <add key="connectionstringlogging" value="server=sql2;uid=dms_sql;pwd=sql1login;database=DMS_LOGGING"/>
    <add key="I3ConnString" value="server=DMF-SQL-0001;database=I3_CIC;connect timeout=60;Integrated Security=True"/>
    <add key="importDirTemp" value="\\dc02\ClientImport\Temp\"/>
    <add key="importDirArchive" value="\\dc02\ClientImport\ArchiveFiles\"/>
    <add key="dataprovider" value="sqlserver"/>
    <add key="Executables" value="C:\Executables\"/>
    <add key="GrapeCityARLic" value="usets greenridge,lexxiom,DD-APN-30-C000827,K4K7O8EOHFHU44HH8S8F"/>
    <add key="SigPath" value="\\nas02\Sig\"/>
    <add key="NegotiationFieldLookup" value="ApplicantState,AccountStatus,CurrentCreditorState,CurrentCreditor,OriginalCreditor"/>
    <add key="NegotiationCriteriaToken" value="any,begin,end,exact"/>
    <add key="WinnovativePDFCreatorLic" value="mj0WW6eCQTFvpDizfaa0RQvYSnDGNoBRH7hcZonemkHHfiruweooXpWgorvDv1h/"/>
    <add key="ClientUsername" value="prod@lexxiom.com"/>
    <add key="ClientPassword" value="jaDjVi7N"/>
    <add key="LexxiomAccountId" value="Escrow Account"/>
    <add key="ImportXsltPath" value="\\nas01\Processes\web1\Client Import Archive\"/>
    <add key="ImportMailTo" value="jhope@lexxiom.com"/>
    <add key="Issuer" value="CN=WS1LEX"/>
    <add key="C21ImageVirtualPath" value="http://192.168.0.10/storage/C21/"/>
    <add key="SIFDirectory" value="e:\sifupload"/>
    <add key="ClientApproval" value="\\nas02\ClientStorage"/>
    <add key="BRDirectory" value="\\lex-dev-30\ClientStorage\BRUpload"/>
    <add key="storage_documentPath" value="\\lex-dev-30\clientstorage\"/>
    <add key="storage_appPath" value="C:\TeamProjects2008\LexxStorageApps\DMSDocumentBackup\bin\Release\DMSDocumentBackup.exe"/>
    <add key="storage_archiveDestination" value="\\dc02\ClientFilesArchive"/>
    <add key="storage_restoreDestination" value="\\lex-dev-30\clientstorage"/>
    <add key="storage_TaskServiceUser" value="dmsi\administrator"/>
    <add key="storage_TaskServiceUserPwd" value="g00gl3!"/>
    <add key="IninServer" value="DMF-TEL-0002"/>
    <add key="LeadDocumentsDir" value="https://testleadtempdir.file.core.windows.net/tempstorage"/>
    <add key="LeadDocumentsVirtualDir" value="https://lexxwarestore1.blob.core.windows.net/leaddocuments/"/>
    <add key="LeadDocumentsTemp" value="c:\lsasigning\tmp\temp\"/>
    <add key="LawFirmRepPhone" value="1-800-560-8576"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="StatementPath" value="\\DC01\d\Process\ClientStatements\"/>
    <add key="ILRSettlementNotify" value="mmihai@lawfirmld.com"/>
    <add key="IDENTIFYLEDB" value="Data Source=DMF-SQL-0005;Initial Catalog=IDENTIFYLEDB;uid=identsa;pwd=identifyl3;connect timeout=60;max pool size=150"/>
    <add key="paydb" value="Data Source=DMF-APP-0002\ADP;Initial Catalog=Payroll;Integrated Security=True"/>
    <add key="icl_DocumentPath" value="\\nas02\ClientStorage\WellsTesting\"/>
    <add key="icl_Notify" value="ccastelo@lexxiom.com;"/>
    <add key="Executables" value="C:\Executables\"/>
    <add key="htmltopdfconverter" value="C:\wkhtmltopdf\wkhtmltopdf.exe"/>
    <add key="TransUnion_Mode" value="Test"/>
    <!--<add key="verificationrecordings" value="z:"/>-->
    <add key="settlementrecordings" value="\\nas02\clientstorage\recordings\temp"/>
    <add key="verificationrecordings" value="\\nas02\clientstorage\recordings\temp"/>
    <add key="verificationrecordingsE" value="z:"/>
    <add key="verificationrecordingsEM" value="\\nas02\clientstorage\recordings\tempo"/>
    <add key="recordingspath" value="\\nas02\clientstorage\recordings"/>
    <add key="externalhostdomain" value="lexxware.com"/>
    <!--<add key="internalhostdomain" value="dev.dmsi.local:8181"/>-->
    <add key="internalhostdomain" value="lexxwarestore1.blob.core.windows.net"/>
    <add key="usefileprotocol" value="no"/>
    <add key="paymentemailsender" value="cperez@lawfirmcs.com"/>
    <add key="csemailaddress" value="info@lawfirmcs.com"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.2">
      <assemblies>
        <!--<add assembly="Microsoft.VisualBasic.Vsa, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Vsa, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <add assembly="Microsoft.VisualStudio.Shell.Interop, Version=7.1.40304.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.VisualStudio.OLE.Interop, Version=7.1.40304.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="Microsoft.Office.Tools.Excel, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/> 3/27 Jim
        <add assembly="Microsoft.VisualStudio.Tools.Applications.Runtime, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/> 3/27 Jim
        <add assembly="Office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/> 3/27 Jim
        <add assembly="Microsoft.Office.Tools.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/> 3/27 Jim
        <add assembly="Microsoft.SqlServer.Smo, Version=9.0.242.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/> 3/22 Jim
        <add assembly="Microsoft.SqlServer.Smo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/> 3/28 Jim
        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/> 3/28 Jim>-->
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Infragistics2.WebUI.Misc.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.Shared.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebGrid.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebDataInput.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebCombo.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebDateChooser.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebNavigator.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebListbar.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebHtmlEditor.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.Web.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.Documents.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebCalcManager.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebChart.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebGauge.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebGrid.ExcelExport.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebGrid.DocumentExport.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebTab.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebToolbar.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebNavBar.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebResizingExtender.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebSchedule.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebScheduleDataProvider.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebSpellChecker.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <!--<add assembly="MySql.Data, Version=6.3.7.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>-->
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="GrapeCity.ActiveReports.Chart, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Document, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Export.Html, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Export.Pdf, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Export.Image, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="GrapeCity.ActiveReports.Web, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add verb="*" path="*.ar13" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.ar13Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
    </httpHandlers>
    <pages asyncTimeout="999999" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
        <add namespace="AjaxControlToolkit"/>
      </namespaces>
      <controls>
        <add tagPrefix="atlas" namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas"/>
        <add tagPrefix="atlas" namespace="Microsoft.Web.UI.Controls" assembly="Microsoft.Web.Atlas"/>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name=".Slf.Dms.Client" loginUrl="login.aspx" defaultUrl="redirect.aspx" timeout="999999"/>
    </authentication>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 

    <authentication mode="Forms">
        <forms name="Slf.Dms.Client" loginUrl="login.aspx" protection="All" timeout="20" path="/"/>
    </authentication>
    <authorization>
        <deny users="?"/></authorization>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="40" />
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="999999" maxRequestLength="102400"/>
    <identity impersonate="false"/>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <!-- below is a list of all directories/files that have open anonymous access -->
  <location path="ieonly.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="passchange.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="passforgot.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="unforgot.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="test.htm">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="jscript">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="mobile/css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="mobile/images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="mobile/login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="services">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="public">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="jquery">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="vicidial">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="clients/enrollment/TUHeader.htm">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" name="AsmxHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.ar13" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR13_ReportBinariesStreamer" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR13_CompiledReportHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR13_RpxHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR13_RdlxHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.ar13Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web, Version=13.0.15823.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR13_WebCacheAccessHandler" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.2.0.0" newVersion="9.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <ActiveReports13>
    <WebService reportsFolder="~/" assemblyFolder="~/"/>
  </ActiveReports13>
</configuration>