.ContextMenu
{
	background-color: #FBFBFD;
	border: 1px solid black;
	color: #000000;
	font-family: Tahoma;
	font-size: 11px;
	min-height: 64px;
	min-width: 64px;
	overflow: visible;
}

.ContextMenuOption
{
	cursor: pointer;
	padding-bottom: 2px;
	padding-left: 7px;
	padding-right: 2px;
	padding-top: 4px;
}