/****** Object:  Table [dbo].[_Query3]    Script Date: 11/19/2007 11:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Query3](
	[clientid] [int] NOT NULL
) ON [PRIMARY]
GO
