/****** Object:  Table [dbo].[_Query1]    Script Date: 11/19/2007 11:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Query1](
	[clientid] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
