/****** Object:  Table [dbo].[_tblTheBigOne]    Script Date: 11/19/2007 11:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_tblTheBigOne](
	[ClientID] [int] NULL,
	[RegisterID] [int] NULL,
	[AccountID] [int] NULL,
	[EntryTypeID] [int] NULL,
	[ActualAmount] [money] NULL,
	[IdealAmount] [money] NULL
) ON [PRIMARY]
GO
