/****** Object:  Table [dbo].[_tblChrisStuff]    Script Date: 11/19/2007 11:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_tblChrisStuff](
	[ClientID] [int] NOT NULL
) ON [PRIMARY]
GO
