/****** Object:  Table [dbo].[_tblTempReport]    Script Date: 11/19/2007 11:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_tblTempReport](
	[AccountNumber] [int] NULL,
	[ClientName] [nvarchar](50) NULL,
	[March5th] [nvarchar](15) NULL,
	[March6th] [nvarchar](15) NULL,
	[March7th] [nvarchar](15) NULL
) ON [PRIMARY]
GO
