/****** Object:  Table [dbo].[_tblShouldBe10s]    Script Date: 11/19/2007 11:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_tblShouldBe10s](
	[ClientID] [int] NULL,
	[Has42s] [bit] NULL
) ON [PRIMARY]
GO
