/****** Object:  Table [dbo].[epic_chris]    Script Date: 11/19/2007 11:02:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[epic_chris](
	[ACCTNO] [nvarchar](255) NULL,
	[Cname] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
	[Created] [nvarchar](255) NULL,
	[nwCreated] [datetime] NULL
) ON [PRIMARY]
GO
