/****** Object:  Table [dbo].[NACHADups1302007]    Script Date: 11/19/2007 11:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NACHADups1302007](
	[nacharegisterid] [nvarchar](255) NULL,
	[Client 29th] [nvarchar](255) NULL
) ON [PRIMARY]
GO
