/****** Object:  Table [dbo].[StartedUnderwritting]    Script Date: 11/19/2007 11:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StartedUnderwritting](
	[AccountNumber] [varchar](50) NULL,
	[ClientName] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
