/****** Object:  Table [dbo].[tblAuditBigValue]    Script Date: 11/19/2007 11:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAuditBigValue](
	[AuditBigValueID] [int] IDENTITY(1,1) NOT NULL,
	[AuditID] [int] NOT NULL,
	[Value] [ntext] NULL,
 CONSTRAINT [PK_tblAuditBigValue] PRIMARY KEY CLUSTERED 
(
	[AuditBigValueID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
