/****** Object:  Table [dbo].[tblAccountNumberChange]    Script Date: 11/19/2007 11:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAccountNumberChange](
	[AccountNumberChangeId] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[OldAccountNumber] [varchar](50) NOT NULL,
	[NewAccountNumber] [varchar](50) NOT NULL,
	[ImportID] [int] NOT NULL,
 CONSTRAINT [PK_tblAccountNumberChange] PRIMARY KEY CLUSTERED 
(
	[AccountNumberChangeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
