/****** Object:  Table [dbo].[tblCommFeeCharge]    Script Date: 11/19/2007 11:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCommFeeCharge](
	[CommFeeChargeId] [int] IDENTITY(1,1) NOT NULL,
	[CommRecId] [int] NOT NULL,
	[EntryTypeId] [int] NOT NULL,
	[FixedAmount] [money] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
 CONSTRAINT [PK_tblCommFeeCharge] PRIMARY KEY CLUSTERED 
(
	[CommFeeChargeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
