/****** Object:  Table [dbo].[tblClientEnrollmentStats]    Script Date: 11/19/2007 11:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClientEnrollmentStats](
	[MonthCreated] [int] NULL,
	[Stateid] [int] NULL,
	[countHired] [int] NULL,
	[countActive] [int] NULL
) ON [PRIMARY]
GO
