/****** Object:  Table [dbo].[tblDepositCollectionLog]    Script Date: 11/19/2007 11:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepositCollectionLog](
	[DepositCollectionLogId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL
) ON [PRIMARY]
GO
