/****** Object:  Table [dbo].[tblDataEntryDoc]    Script Date: 11/19/2007 11:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDataEntryDoc](
	[DataEntryDocID] [int] IDENTITY(1,1) NOT NULL,
	[DataEntryID] [int] NOT NULL,
	[DocID] [int] NOT NULL,
 CONSTRAINT [PK_tblDataEntryDoc] PRIMARY KEY CLUSTERED 
(
	[DataEntryDocID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
