/****** Object:  Table [dbo].[tblDebtRejectionReasons]    Script Date: 11/19/2007 11:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDebtRejectionReasons](
	[ReasonID] [numeric](18, 0) NOT NULL,
	[ReasonDesc] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
