/****** Object:  Table [dbo].[tblTimeZone]    Script Date: 11/19/2007 11:04:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTimeZone](
	[TimeZoneID] [int] IDENTITY(1,1) NOT NULL,
	[Abbreviation] [varchar](10) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[FromUTC] [int] NOT NULL,
	[DBIsHere] [bit] NOT NULL CONSTRAINT [DF_tblTimeZone_DBIsHere]  DEFAULT (0),
 CONSTRAINT [PK_tblTimeZone] PRIMARY KEY CLUSTERED 
(
	[TimeZoneID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
