/****** Object:  Table [dbo].[tblWisconsinArchive]    Script Date: 11/19/2007 11:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWisconsinArchive](
	[ClientID] [bigint] NOT NULL,
	[PersonID] [bigint] NULL,
	[StatusID] [int] NOT NULL
) ON [PRIMARY]
GO
