/****** Object:  Table [dbo].[tdpSumPymts]    Script Date: 11/19/2007 11:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tdpSumPymts](
	[clientid] [float] NULL,
	[sumPymtOld] [float] NULL,
	[SumRevOld] [float] NULL
) ON [PRIMARY]
GO
