<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--
		<add key="ftpServer" value="64.60.118.202" />
		<add key="ftpFolder" value="" />
		<add key="ftpUserName" value="colprocess" />
		<add key="ftpPassword" value="colproc91730" />
		<add key="fileLocation" value="\\DMS100\DATA\PROCESS\COLONIAL_FILES" />
		<add key="connectionString" value="server=Astrid\SQL2000;database=DMP;uid=sa;password=new0rld" />
		<add key="dataprovider" value="sqlserver"/>
		<add key="logEmailTo" value="paulw@datarg.com" />
		<add key="smtpServer" value="mail.datarg.com" />
		-->

		<add key="ftpServer" value="backup.filesanywhere.com" />
		<add key="ftpFolder" value="" />
		<add key="ftpUserName" value="asicorp" />
		<add key="ftpPassword" value="jatounitfa!" />
		<add key="fileLocation" value="c:\" />
		<add key="connectionString" value="server=drg-sql-01;uid=slf_dms;pwd=dms12#45!;database=slf_dms" />
		<add key="dataprovider" value="sqlserver"/>
		<add key="logEmailTo" value="paulw@datarg.com" />
		<add key="smtpServer" value="mail.datarg.com" />

	</appSettings>
</configuration>