<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="LEXSPROD" connectionString="Data Source=LEXSRVSQLPROD1\LEXSRVSQLPROD;Initial Catalog=DMS;User Id=dms_sql2;Password=j@ckp0t!; Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="connectionstring" value="server= lexxware.westus2.cloudapp.azure.com,1433;uid=hopej;pwd=Jims19422017;Initial Catalog=DMS;connect timeout=180" />
  </appSettings>
</configuration>