<%@ Master Language="VB" CodeFile="commission.master.vb" Inherits="research_queries_financial_commission_commission" MasterPageFile="~/research/research.master" %>

<asp:Content runat="server" ContentPlaceHolderID="cphBody" ID="cntBody">
    <asp:ContentPlaceHolder ID="cphBody" runat="server"></asp:ContentPlaceHolder>
</asp:Content>