body
{
	font-family: Tahoma;
	font-size: 11px;
	height: 100%;
	overflow: hidden;
	width: 100%;
	
}

.Canvas
{
	border: 1px solid black;
}

.Toolbox
{
	border: 1px solid black;
	background-color: #F3F3F3;
}