<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="license.owner" value="DataResearchGroup"/>
		<add key="license.product" value="edtftpnetpro"/>
		<add key="license.key" value="315-6670-5271-3624"/>

		<!--<add key="databases" value="slf_dms" />
		<add key="dataprovider" value="sqlserver"/>
		<add key="connectionstring" value="server=drg-sql-01;uid=slf_dms;pwd=dms12#45!;database=slf_dms" />
		<add key="host" value="vault10.usnetcorp.com" />
		<add key="directory" value="/Backups/DMS/sqldb1" />
		<add key="username" value="dmssql" />
		<add key="password" value="dmsi91730" />
		<add key="log" value="c:\services\slf.dms.service.backup\Backup.log" />
		<add key="temp" value="c:\___backuptemp___" />
		<add key="encrypt" value="true" />
		<add key="encryptPassword" value="dmsi91730" />-->

		<add key="databases" value="slf_dms" />
		<add key="dataprovider" value="sqlserver"/>
		<add key="connectionstring" value="server=drg-sql-01;uid=slf_dms;pwd=dms12#45!;database=slf_dms" />
		<add key="host" value="vault10.usnetcorp.com" />
		<add key="directory" value="/Backups/DMS/sqldb1" />
		<add key="username" value="dmssql" />
		<add key="password" value="dmsi91730" />
		<add key="log" value="c:\services\slf.dms.service.backup\Backup.log" />
		<add key="temp" value="c:\___backuptemp___" />
		<add key="encrypt" value="true" />
		<add key="encryptPassword" value="dmsi91730" />

	</appSettings>
</configuration>