<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="AccountName=lexxwarestore1;AccountKey=EKriz+KiVaCGaOn1zfadO2+4IiWO7Yc4ZU5IxN79lAwJU0p0dhniU4IDO0ls9/rUjP70CigK1zaaM/Evsq9ewA==" />
    <add key="LEXSPROD" value="server=lexxware.westus2.cloudapp.azure.com,1433;uid=401Hr3m487%;pwd=&amp;Dogv@S3lfish$;Initial Catalog=DMS;connect timeout=180"  />
  </appSettings>
</configuration>