<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <connectionStrings>
    <add name="LEXSPROD" connectionString="Data Source=LEXSRVSQLPROD1\LEXSRVSQLPROD;Initial Catalog=DMS;User Id=dms_sql2;Password=j@ckp0t!; Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ReportConnString" value="Data Source=LEXSRVSQLPROD1\LEXSRVSQLPROD;Initial Catalog=DMS;Integrated Security=True"/>
    <!--<add key="ReportConnString" value="server=dmf-sql-0001;uid=dms_sql;pwd=sql1login;database=dms_qapa;connect timeout=60;max pool size = 150"/>-->
    <add key="LeadDocumentsDir" value="\\dc02\LeadDocuments\"/>
    <add key="DataDynamicsARLic" value="usets greenridge,lexxiom,DD-APN-30-C000827,K4K7O8EOHFHU44HH8S8F"/>
  </appSettings>
</configuration>
